@font-face {
  font-family: 'twitterfont';
  font-style: normal;
  font-weight: normal;

  src: url('./Fonts/Chirp-Regular.woff2') format('truetype');
}

#big-big-container{
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100%;
}

#container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 945px;
  width: 80%;
}

#left-container{
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100%;
  height: auto;
  width: 50%;

  border-left:  1.5px solid  rgb(47, 51, 54);
  border-right: 1.5px solid  rgb(47, 51, 54); 

  transition: background-color 0.3s ease;
}

#left-container:hover{
  background-color: rgb(7, 7, 7);
}

#image{
  position: relative;

  box-shadow: 1px 2px 10px 5px rgb(47, 51, 54);

  border-radius: 20px;

  transition: transform 0.25s ease;
}

#image:hover{
  transform: scale(1.005);
}

#image > img{
  max-height: 900px;
  max-width: 100%;

  border-radius: inherit;
}

#right-container{
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100%;
  height: auto;
  width: 50%;
}

#score{
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;

  right: 20%;
  top: 15%;

  font-family: 'twitterfont','Times New Roman';  font-size: 30px;
  font-size: 40px;
  color: rgb(255, 255, 255);
}

#choices{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  
  gap: 20px;
  
  max-width: 95%;
}

.choice{
  font-family: 'twitterfont','Times New Roman';  font-size: 30px;
  
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px; 
  
  background-color: rgba(239, 243, 244, 0.856);
  border-color: rgba(0, 0, 0, 0);
  
  padding-left: 16px;
  padding-right: 16px;
  
  min-height: 32px;
  
  position: relative;
  z-index: 1;
  
  transition: background-color 0.3s ease,transform 0.25s ease,box-shadow 0.3s ease;
}
.choice:hover{
  cursor: pointer;

  background-color: rgb(239, 243, 244);

  transform: scale(1.02);

  box-shadow:  1px 2px 10px 5px  rgb(47, 51, 54);

}

.choice:active{
  transform:scale(0.9);

}

.choice-div{
  position: relative;
  z-index: 1;
}

@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.choice-div::before {
  content: "";

  position: absolute;

  height: 100%;
  width: 100%;

  top: 50%;
  left: 50%;
  translate: -50% -50%;

  background-image: conic-gradient(from var(--angle), #fbff00, hsl(305, 100%, 56%), #00c3ff,#ffee00);

  z-index: -1;

  padding: 2px;
  border-radius: 9999px;

  opacity: 0;
  
  transition: opacity 0.3s ease;
  animation: 3s spin linear infinite;


  transition: padding 0.3s ease;

}

@keyframes spin{
  from{
    --angle: 0deg;
  }
  to{
    --angle: 360deg;
  }
}

.choice-div:hover::before {
  opacity: 1;
}

.choice-div::before{
  filter: blur(0.2rem)
}
